body{
    margin: 0;
    padding: 0;
    background-image: url('https://plus.unsplash.com/premium_photo-1711134826547-169d7de16190?q=80&w=1846&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}
.container {
    background: linear-gradient(135deg, #202124, #3A5F8E, #FF8C00, #8A8C8E);
    margin-left: 500px;
    margin-top: 15px;
    padding: 0;
    height: 600px;
    width: 350px;
    text-align: center;
    border-radius: 15px;

}
.text {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(135deg, #ff7e5f, #feb47b, #86a8e7, #7f7fd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}
/* .images{
    position: relative;
    height: 50px;
    weight:15px;

} */
.img{
    margin-top: 15px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.address{
    color: bisque;
    margin: 0;
}
.link button{
    margin-top: 25px;
    margin: 9px;
    text-align: center;
    width: 300px;
    height: 30px;
    border-radius:   25% ;
    color: #1eea65;
    background: linear-gradient(100deg, rgb(163, 220, 163) ,navy);
}
.link button a{
    /* position:absolute; */
    text-align: center;
    color: #3bee88;
    margin-top: -10px;
    /* margin-right: px; */

}